<h1>Клиенты</h1>

<h1>Комплектующие</h1>
<a href="/storage/create">Добавить комплектующие</a>
<table align="center"rules="cols">
<tr>
    <td>Название</td>
    <td>Артикул</td>
    <td>Количество</td>
    <td>Дата поступления</td>
    <td>Управление</td>
</tr>
<% storageItems.forEach(storageItem => { %>
        <td><%= storageItem.item.productName %></td>
        <td><%= storageItem.item.productArticul %></td>
        <td><%= storageItem.quantity%></td>
        <td><%= storageItem.importDate.toLocaleDateString()%></td> 
        <td><form method="POST" action="/storage/<%=storageItem.id%>?_method=DELETE">
            <button type="submit">Удалить</button>
        </form>
        <a href="/storage/<%=storageItem.id%>/edit">Изменить</a></td>  
    </tr>
    
<%});%>
</table>