
    <h1>Рабочие</h1>
    <form method="GET" action="/employees/">
        <input type="text" placeholder="Имя" name="name">
        <input type="text" placeholder="Должность" name="position">
        <select name="departament">
            <option label="Все" value="">
            <%departaments.forEach(departament=> { %>
                <option label="<%= departament.departamentName%>" value="<%=departament.departamentName%>">
            <%})%>

        </select>
        <input type="text" placeholder="Паспорт" name="passport">
        <br>
        <select name="sort">
            <option label="От А до Я имя" value="employeeName">
            <option label="От Я до А имя" value="-employeeName">
            <option label="От А до Я должность" value="position">
            <option label="От Я до А должность" value="-position">
            <option label="От А до Я отдел" value="departament.departamentName">
            <option label="От Я до А отдел" value="-departament.departamentName">
        </select>
        <input type="submit" value="искать">
        <button id="clearBtn">Очистить</button>
    </form>
<table align="center"rules="cols">
    <tr>
        <td>Имя</td>
        <td>Должность</td>
        <td>Отдел</td>
        <td>Паспорт</td>
        <td>Управление</td>
    </tr>
    <% employees.forEach(employee => { %>
        <tr> 
            <td><%= employee.employeeName %></td>
            <td><%= employee.position%></td>
            <td><%= employee.departament.departamentName%></td> 
            <td><%= employee.pasport%></td> 
            <td>
            <form method="POST" action="/employees/<%= employee.id %>?_method=DELETE">
                <button type="submit">Удалить</button>
            </form>
            <a href="/employees/<%= employee.id %>/edit">Изменить</a></td> 
        </tr>
        
    <%});%>
</table>
<script src="../scripts/clear.js"></script>
<script src="../scripts/betterSelect.js"></script>