
    <h1>Изготовители</h1>
<table align="center"rules="cols">
    <tr>
        <td>Имя</td>
        <td>Мастерская</td>
        <td>Разряд</td>
        <td>Паспорт</td>
    </tr>
    <% producers.forEach(producer => { %>
        <tr> 
            <td><%= producer.producerName %></td>
            <td><%= producer.workshop%></td>
            <td><%= producer.level%></td> 
            <td><%= producer.pasport%></td> 
            <td>
            <form method="POST" action="/<%= producer.id %>?_method=DELETE">
                <button type="submit">Удалить</button>
            </form>
            <a href="/producers/<%= producer.id %>/edit">Изменить</a></td> 
        </tr>
        
    <%});%>
</table>