<h1>Клиенты</h1>
<form method="GET" action="/clients/">
    <input type="text" placeholder="Имя" name="name" value="<%= searchOptions.name%>">
    <input type="date" name="dateAfter" value="<%= searchOptions.dateAfter%>">
    <input type="date" name="dateBefore" value="<%= searchOptions.dateBefore%>">
    <input type="text" placeholder="Покупка" name="item" value="<%= searchOptions.item%>">
    <input type="number" placeholder="Меньше чем" name="summLess" value="<%= searchOptions.summLess%>">
    <input type="number" placeholder="Больше чем" name="summMore" value="<%= searchOptions.summMore%>">
    <select class="<%= searchOptions.sort%>" id="sortSelect" name="sort">
        <option label="От А до Я" value="client">
        <option label="От Я до А" value="-client">
        <option label="Дата раньше" value="Date">
        <option label="Дата позже" value="-Date">
        <option label="Cумма возростание" value="summ">
        <option label="Cумма убывание" value="-summ">
    </select>
    <button type="submit">Искать</button>
    <button id="clearBtn">Очистить</button>
</form>
<table align="center"rules="cols">
<tr>
    <td>Имя</td>
    <td>Дата</td>
    <td>Покупка</td>
    <td>Сумма</td>
</tr>
<% clients.forEach(client => { %>
    <tr> 
        <td><%= client.client %></td>
        <td><%= client.Date.toLocaleDateString()%></td>
        <td><%= client.item.name%></td> 
        <td><%= client.summ%></td> 
    </tr>
    
<%});%>
</table>
<script src="../scripts/clear.js"></script>
<script src="../scripts/betterSelect.js"></script>