
    <h1>Комплектующие</h1>
    <a href="/create">Добавить комплектующие</a>
    <form action="/" method="GET">
        <input placeholder="Название детали" type="text" name="name" value="<%= searchOptions.name%>">
        <input placeholder="Артикул" type="text" name="articul" value="<%=searchOptions.articul%>">
        <select id="typeSelect" class="<%=searchOptions.productType%>" name="productType">
                    <option value="" label="Все">
                    <option value="Изделие" label="Изделие">
                    <option value="Деталь" label="Деталь">
        </select>
        <input placeholder="Больше чем" type="number" name="priceMore" value="<%=searchOptions.priceMore %>">
        <input placeholder="Меньше чем"type="number" name="priceLess" value="<%=searchOptions.priceLess %>">
        <br>
        <select class="<%= searchOptions.sort%>" id="sortSelect" name="sort">
            <option label="От А до Я" value="productName">
            <option label="От Я до А" value="-productName">
            <option label="Цена Убывание" value="-productPrice">
            <option label="Цена Возрастание" value="productPrice">
        </select>
        <input type="submit" value="Искать">
        <button id="clearBtn">Очистить</button>
    </form>
<table align="center"rules="cols">
    <tr>
        <td>Наименование</td>
        <td>Артикул</td>
        <td>Тип</td>
        <td>Цена за единицу</td>
        <td>Описание</td>
        <td>Управление</td>
    </tr>
    <% details.forEach(detail => { %>
        <tr> 
            <td><%= detail.productName %></td>
            <td><%= detail.productArticul%></td>
            <td><%= detail.productType%></td>
            <td><%= detail.productPrice%></td>
            <td><%= detail.productDescription%></td> 
            <td>
            <form method="POST" action="/<%= detail.id %>?_method=DELETE">
                <button type="submit">Удалить</button>
            </form>
            <a href="/detail/<%= detail.id %>/edit">Изменить</a> </td> 
        </tr>
        
    <%});%>
</table>
<script src="../scripts/clear.js"></script>
<script src="../scripts/betterSelect.js"></script>
