<form action="/process/create" method="POST">
    <input type="date" name="processDate">
    <select name="detail">
        <% details.forEach( detail => { %>
            <option label = "<%=detail.productName %>" value="<%=detail.id%>">
                <%})%>
    </select>
    <input placeholder="название процесса "type="text" name="processName">
    <select name="product">
        <% products.forEach( product => { %>
            <option label = "<%=product.productName %>" value="<%=product.id%>">
                <%})%>
    </select>
    <select name="master">
        <% employees.forEach( employee => { %>
            <option label = "<%=employee.employeeName %>" value="<%=employee.id%>">
                <%})%>
    </select>
    <input placeholder="количество" type="number" name="quantity">
    <input placeholder="цена процедуры" type="number" name="processPrice">
    <input type="submit" value="Создать">
</form>
<script src="../scripts/list.js"></script>