<form action="/process/<%=process.id%>?_method=PUT" method="POST">
    <input type="date" name="processDate" value="<%=process.processDate%>">
    <select name="detail">
        <% details.forEach( detail => { %>
            <% if(detail.id === process.detail) { %>
                <option selected label="<%=detail.productName %>" value="<%=detail.productName%>"></option>
            <%}%>
            <option label="<%=detail.productName %>" value="<%=detail.productName%>">
                <%})%>
    </select>
    <input placeholder="название процесса "type="text" value="<%=process.processName%>" name="processName">
    <select name="product">
        <% products.forEach( product => { %>
            <% if(product.id === process.product) { %>
                <option selected label="<%=product.productName %>" value="<%=product.productName%>"></option>
            <%}%>
            <option label = "<%=product.productName %>" value="<%=product.productName%>">
            <%})%>
    </select>
    <select name="master">
        <% employees.forEach( employee => { %>
            <% if(employee.id === process.master) { %>
                <option selected label="<%=employee.employeeName %>" value="<%=employee.id%>"></option>
            <%}%>
            <option label="<%=employee.employeeName %>" value="<%=employee.id%>">
                <%})%>
    </select>
    <input placeholder="количество" type="number" value="<%=process.quantity %>" name="quantity">
    <input placeholder="цена процедуры" type="number" value="<%=process.processPrice %>" name="processPrice">
    <a href="/process">Отмена</a>
    <input type="submit" value="Изменить">
</form>