
    <h1>Процессы</h1>
    <a href="/process/create">Добавить процессы</a>
    <form action="/process/" method="GET">
        <label for="beforeDate">До</label>
        <input type="date" name="beforeDate" value="<%=searchOptions.beforeDate%>">
        <label for="beforeDate">После</label>
        <input type="date" name="afterDate" value="<%=searchOptions.afterDate%>">
        <input placeholder="Название детали" type="text" name="detail" value="<%= searchOptions.detail%>">
        <input placeholder="Название процесса" type="text" name="processName" value="<%= searchOptions.processName%>">
        <input placeholder="Название изделия"type="text" name="product" value="<%= searchOptions.product%>">
        <input placeholder="Имя мастера" type="text" name="master" value="<%= searchOptions.master%>">
        <select name="departament">
            <option label="Все" value="">
            <% departaments.forEach(departament => { %>
                <% if(searchOptions.departament == departament.departamentName) {%>
                    <option selected label="<%=departament.departamentName %>" value="<%=departament.departamentName%>">
                <% } else {%>
                    <option label="<%=departament.departamentName %>" value="<%=departament.departamentName%>">
                <%}%>
                
            <%})%>
        </select>
        <input placeholder="Количество больше чем" type="number" name="quantityMore" value="<%= searchOptions.quantityMore%>">
        <input placeholder="Количество меньше чем"type="number" name="quantityLess" value="<%= searchOptions.quantityLess%>">
        <input placeholder="Цена больше чем" type="number" name="priceMore" value="<%= searchOptions.priceMore%>">
        <input placeholder="Цена меньше чем"type="number" name="priceLess" value="<%= searchOptions.priceLess%>">
        <input type="submit" value="Искать">
        <button id="clearBtn">Очистить</button>
    </form>
<table align="center"rules="cols">
    <tr>
        <td>Дата</td>
        <td>Детали</td>
        <td>Операция</td>
        <td>Изделие</td>
        <td>Мастер</td>
        <td>Отдел</td>
        <td>Количество</td>
        <td>Стоимость</td>
    </tr>
    <% procs.forEach(proc => { %>
        <tr> 
            <td><%= proc.processDate.toLocaleDateString() %></td>
            <td><%= proc.detail.name%></td>
            <td><%= proc.processName %></td>
            <td><%= proc.product.name%></td>
            <td><%= proc.master.name%></td> 
            <td><%= proc.departament.name%></td> 
            <td><%= proc.quantity%></td>
            <td><%= proc.processPrice%></td> 
            <td>
            <form method="POST" action="/process/<%= proc.id %>?_method=DELETE">
                <button type="submit">Удалить</button>
            </form>
            <a href="/process/<%= proc.id %>/edit">Изменить</a> </td> 
        </tr>
        
    <%});%>
</table>
<script src="../scripts/clear.js"></script>
<script src="../scripts/betterSelect.js"></script>